.DS_Store

# logs
derby.log

# eclipse conf file
.settings
.classpath
.project
.manager
.externalToolBuilders


target/
.classpath
.project
.settings

*/bin

# IntelliJ
*.iml
*.ipr
*.iws
.idea


*.class

*.swp

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
