.DS_Store

# logs
derby.log

# lein
.lein-repl-history


target/
.classpath
.project
.settings

*/bin


*.class

*.swp

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
